*.pyc
*.log
*.json
*.yaml
.idea/workspace.xml
.idea/vcs.xml
.idea/Project-Altis.iml
.idea/modules.xml
.idea/misc.xml
accountserver/.idea/workspace.xml
accountserver/.idea/modules.xml
accountserver/.idea/misc.xml
accountserver/.idea/accountserver.iml
*.txt
